<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css' ) }}"> -->
</head>
<body>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint mollitia sunt sit neque libero, nulla nostrum ducimus sequi incidunt eos quia molestiae qui! Fugiat, vel, architecto non ducimus repellendus, unde enim minima error aut vitae corporis. Aperiam maxime a fugit non at vero inventore animi.
    </p>
</body>
</html>