<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class - XII - GBGVP</title>
</head>
<body>
    <h1>Marks</h1>
    <ul>
        <li>Marks of Karan: {{marks['Karan']}}</li>
        <li>Marks of Pradip: {{marks['Pradip']}}</li>
        <li>Marks of Jesmine: {{marks['Jesmine']}}</li>
        <li>Marks of Sathi: {{marks['Sathi']}}</li>
        <li>Marks of Payal: {{marks['Payal']}}</li>
        <li>Marks of Sona: {{marks['Sona']}}</li>
    </ul>


</body>
</html>